/*
  yellow color-code  - #ffcc28
  Blue color-code  - #11317B

*/
  /* Make the image fully responsive */
body {
  font-family: 'Asap', sans-serif !important;
}
a:hover {
  text-decoration: none;
}

.ecol-page-section p{
  text-align: justify;
}
button, html input[type="button"], input[type="reset"], input[type="submit"]{
  outline: none;
}

/*================== ecol banner css for text animation start =================== */
#demos .owl-carousel .owl-item img{
  height: 478px;
}
.ecol-home-banner iframe{
  border: unset;
}
.ecol-home-banner .owl-item.active .ecol-slider-text h1{
  animation: fadeInUp 1s both 0.8s;
}
.ecol-home-banner .owl-item.active .ecol-slider-text p{
  animation: fadeInUp 1s  both 1s;
}
.ecol-home-banner .owl-item.active .ecol-slider-text .ecol-button-box{
  animation: fadeInUp 1s  both 1.2s;
}
.ecol-home-banner .owl-carousel .owl-video-tn{
  background-size: cover !important;
}
/*================== ecol banner css for text animation end =================== */


/*================== academic css start =================== */
  .section-academic-details p.academic-desc{
    margin-top: 45px;
  }
  .section-academic-details .ecol-academic-subheading{
    color: #11317B;
    margin-top: 20px;
  }
  .section-academic-details .ecol-academic-title {
    font-size: 23px;
    color: #11317B;
    font-weight: 600;
  }
  .section-academic-details a{
    color: #11317B!important;
    font-weight: 600;
  }
  .section-academic-details ul, .section-academic-details ul li {
    list-style: disc;
  }
/*================== academic css End =================== */


/*================== bulletien board css start =================== */
  .ecol-board .board-title{
    height: 58px;
  }
  .ecol-board .board-desc{
  }
  .ecol-board .board-lisitng-card {
    padding: 20px 20px;
  }
  .ecol-board .board-lisitng-card img{
    height: 200px
  }
  .ecol-board .board-date{
    color: red;
    bottom: 0px;
    left: 0px;
    background-color: #FFCC56;
    padding: 6px !important;
    font-size: 16px !important;
    font-weight: bold;
    width: 53px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }
  .ecol-board p.byname span{
    color: #11317B;
  }
/*================== bulletien board end =================== */


/*================== bulletien board information start =================== */
.blog-info-section .blog-user-name {
  color: #11317B;
  text-transform: uppercase;
}
.blog-info-section .blog-container-image {
  margin-top: 8px;
  margin-bottom: 25px;
}
.blog-info-section .blog-container-form{
  margin-top: 48px;
}
.blog-info-section .blog-form-title{
  margin-top: 20px;
  color: #11317b;
}
.blog-info-section  .blog-sidebar-search1 {
  border: 1px solid #11317b;
  /* border-width: 1px 0 0; */
  clear: both;
  height: 0;
  /*margin: 0.25rem 0px 1.1875rem*/;
  width: 90px;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.blog-info-section .blog-sidebar-search2 {
  border: 1px solid #11317b;
  /* border-width: 1px 0 0; */
  clear: both;
  height: 0;
  margin: 0.25rem 0px 1.1875rem;
  width: 90px;
}
.blog-info-section .boxes{
  padding: 30px;
}
.blog-info-section .blog-content-text{
  text-align: justify;
}
.blog-info-section .comment-blogs .boxes{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blog-info-section .comment-blogs .boxes:last-child {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blog-info-section .board-date{
  color: #11317B;
  bottom: 0px;
  left: 0px;
  background-color: #FFCC56;
  padding: 6px !important;
  font-size: 21px !important;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.blog-info-section p.byname span{
  color: #11317B;
}
.blog-info-section .blog-title{
  color: #11317B;
}
/*================== bulletien board information End =================== */


/*================== carrer css start =================== */
.ecol-section-opportunities .heading{
  margin-top: 38px;
}
.ecol-section-opportunities .ecol-carrer-card{
  background-color: #11317B;
  margin-top: 20px;
  padding: 26px;
}
.ecol-section-opportunities .ecol-carrer-card .card-text{
  color: #ffcc28;
}
.ecol-section-opportunities .ecol-carrer-card .ecol-carrer-text {
    font-size: 20px;
    font-weight: 600;
}
.ecol-section-opportunities .ecol-carrer-card .ecol-carrer-btn-box a{
  background: #fff;
    padding: 10px 10px;
    color: #11317B;
    border-radius: 7px;
}
.ecol-section-opportunities .ecol-carrer-card .ecol-carrer-btn-box a:hover{
  background: #ffcc28;
}
/*================== career css end =================== */


/*================== event css start =================== */

.ecol-section-event h5.main-title{
  color: #11317B;
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
}
.ecol-section-event .ecol-event-card .ecol-event-title{
  font-size: 18px;
  font-weight: 600;
}
.ecol-section-event .ecol-event-card i{
  color: #11317B;
}
.ecol-section-event .ecol-event-card .ecol-event-text{
  text-align: justify;
}
.ecol-section-event .event-date {
  color: #11317B;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #FFCC56;
  padding: 6px !important;
  font-size: 16px !important;
  font-weight: bold;
  width: 53px;
  text-align: center;
}
.ecol-section-event .img-box img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.search-event-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-size: 1rem;
  background-color: #ffcc28;
  border-color: #ffcc28;
  color: #fff;
  transition: background-color 300ms ease-out;
}
/*================== event css end =================== */


/*================== event information css end =================== */
.ecol-event-info-section .add-clander-btn{
  background-color: #ffcc28;
  color: #000 !important;
  float: right;
}
.ecol-event-info-section .event-title{
  color: #11317B;
  font-weight: 600;
}
.ecol-event-info-section .event-box{
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}
.ecol-event-info-section .event-date-box {
  color: #11317B;
  position: absolute;
  bottom: 0px;
  left: 15px;
  background-color: #ffcc28;
  padding: 6px !important;
  font-size: 16px !important;
  font-weight: bold;
  width: 55px;
  text-align: center;
}
.ecol-event-info-section ul.time_location{
    margin-left: 2px;
}
.ecol-event-info-section .time_location li{
  padding-right: 15px;
  display: inline-block;
}
.ecol-event-info-section .time_location .fa{
  color: #11317B;
}
.ecol-event-info-section .time-row{
  border:3px solid lightgray;
  /*margin:0px 100px;*/
  text-align: center;
  font-weight: bold;
}
.ecol-event-info-section .time-row h4{
  margin: 0px;
}
.ecol-event-info-section .time-row .vl{
  border-right: 2px solid;
  height: auto;
}
.ecol-event-info-section .time-row .time{
  margin:20px 0px;
}
.ecol-event-info-section .ecol-event-subheading{
  color: #11317B
}
.addeventatc{
  z-index: 1 !important;
}
/*================== event information css end =================== */


/*================== Gallery css start =================== */
.gallery ul.nav li a{
  color: #84868c;
  font-weight: 600;
  font-size: 20px;
}
.gallery ul.nav li.active a{
  color: #11317B;
  font-weight: 600;
  font-size: 22px;
}
.gallery-img{
  width: 100%;
  /*height: 100%;*/
  object-fit: cover;
}

  .gallery .img-thumbnail {
    padding: 1.25rem !important;
  }
  .gallery img{
    /*width: 100%;
    padding: 10px;*/
    height: 239px;
  }
  .gallery img:hover {
    /*transition: 0.3s;
    transform: scale(1.1);*/
  }
  .gallery .thumbnail {
    margin-top: 30px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
  .gallery .thumbnail .caption {
    padding: 9px;
    color: #333;
  }

  .gallery .thumbnail a>img, .gallery .thumbnail>img {

    margin-right: auto;
    margin-left: auto;
  }
  .gallery .thumbnail .caption {
    height: 80px !important;
  }
  .gallery a:hover {
    text-decoration: none;
    color: unset;
    cursor: pointer;
  }
/*================== Gallery css end =================== */


.ecol-search-section .text-heading{
  color: #11317B;
  padding: 8px 0px;
}
.ecol-home-error{
  color: #fff;
}
.ecol-errror{
  color: red;
}
.ecol-blog-right-side ul.blog-category{
  margin-left: 0px !important;
}
.ecol-blog-right-side .blog-category li a{
  font-size: 16px;
}
.select2-container .select2-selection--single:hover{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}
.select2-container *:focus {
  outline: none;
}

.select2-container--default .select2-selection--single{
  border-color: #ccc !important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !important;
  color: rgba(0,0,0,0.75) !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered
{
  font-size: .875rem !important;
 /* color: #495057 !important;*/
  line-height: 32px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #495057de !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top: 2px !important;
}

[class^='select2'] {
  border-radius: 0px !important;
}
.select2-container--open {
  z-index: 1;
}
.select2-drop.select2-drop-above{
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
/*=====================================
======Side Social icons fixed =========
=======================================*/
.ecol-header-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  background-color: #fff;
}

.ecol-img{
  max-width: 100%;
  height: auto;
}
.ecol-img-box{

}

a{
  color: #000;
}
.form-control:hover, select:hover, select:focus, textarea:hover, textarea:focus{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}
option:not(:first-of-type) {
  color: black;
}

.ecol-alert-success {
  color: #fff;
  background-color: #ffcc28;
  border-color: #ffcc28;
}
.ecol-alert-success p {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5em;
}
.ecol-alert-success .close:hover {
  color: #000;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  text-decoration: none;
  opacity: .75;
}
.ecol-fixed-social {
    position: fixed;
    display: block;
    z-index: 9999;
    color: #11317B;
    text-align: center;
    right: -71px;
    top: 49%;
    width: 98px
    -webkit-transition: .4s;
    transition: .4s;
}
.ecol-fixed-social a
{
  color: #11317B;
  background-color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 4px 15px;
  font-size: 15px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}
.ecol-fixed-social a i
{
  margin-right: 5px;
  width: 15px;
  text-align: center;
}
.ecol-fixed-social:hover a
{
  background-color: #ffcc28;
  color: #11317B;
}

.ecol-fixed-social:hover, .ecol-fixed-social.mobile:hover, .ecol-fixed-social.email:hover, .ecol-fixed-social.loc:hover
{
  right: 0px;
}

.ecol-fixed-social.mobile {
    right: -61px;
}
@media only screen and (min-width: 750px){
  .ecol-fixed-social.email
  {
    top: 54%;
    right: -74px;
  }
  .ecol-fixed-social.loc
  {
    top: 59%;
    right: -76px;
  }
}
/*=====================================
======Side Social icons fixed end =======
=======================================*/

/*=====================================
=============header menu css ===========
=======================================*/
.logo {
  position: relative;
}

.ecol-header .navbar-toggler{
  background-color: #11317B;
  border: 1px solid #11317B;
}
.ecol-header .ecol-navbar .ul-menu{
  margin-left: 50px!important;
}

.ecol-header .ecol-navbar li:hover a, .ecol-header .ecol-navbar li.active a, .ecol-header .ecol-navbar li .dropdown li:hover a, .ecol-home-banner .slider-text .ecol-button-box .btn.primary {
  color: #ffcc28;
}
.ecol-header .ecol-navbar li a {
  color: #11317B;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  position: relative;
  text-shadow: none;
}
.ecol-header .ecol-navbar li {
  float: left;
  position: relative;
  margin-right: 2px;
}
.ecol-header .ecol-navbar li a i {
  margin-left: 5px;
}
.ecol-header .ecol-navbar li .dropdown {
  background: #fff;
  width: 220px;
  position: absolute;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
}

.ecol-header .ecol-navbar li .dropdown li {
  float: none;
  margin: 0;
  list-style: none;
}
.ecol-header .ecol-navbar li .dropdown li a {
    padding: 10px 15px;
    color: #11317b;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
}
ul, ul li {
  /*list-style: none;*/
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.ecol-header .ecol-navbar li .dropdown li:hover a {
  color: #ffcc28;
}

.owl-carousel .owl-dots{
  display: none;
}

/*.ecol-header .search-box .search-input{
  display: none;
}
.ecol-navbar .search-form {
  float:right;
  margin:0;
  padding:0;
  margin-top: 10px;
}*/
.top_announcement {
  background-color: #11317B;
  color: #fff;
  font-size: 17px;
}
marquee p{margin-bottom: 0px;}
.ecol-navbar .search-box a {
  color: #ffcc28;
}
.search-btn
{
  position: relative;
  color: #11317B;
}

.search-btn:hover .ecol-search-box
{
  /*display: block;*/
}
/*=====================================
=============header menu css end===========
=======================================*/

/*=====================================
=============Home banner css end===========
=======================================*/





.ecol-home-banner .ecol-button-box .btn-ecol{
  margin-left: 10px;
}

.ecol-home-banner .ecol-button-box .banner-left-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff !important;
  border: #11317B;
  background: #fff;
  border-radius: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4S ease-in;
  -moz-transition: all 0.4S ease-in;
  transition: all 0.4S ease-out;
}
.ecol-home-banner .ecol-button-box .banner-left-btn:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/*=====================================
=============Home banner css end===========
=======================================*/

/*=====================================
====== admission enquiry home css ======
=======================================*/
.enroll-form{
  background-color: rgba(17,49,123,0.59);
  padding: 20px 20px;
}
.enroll-form input[type="text"] , .enroll-form input[type="tel"] , .enroll-form input[type="email"] ,  .enroll-form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  outline: none;
  padding: 0px 0px 0px 0px;
  border-radius: unset;
  color: #fff;
}
.enroll-section .form-header {
  padding: 20px;
}
.enroll-section .enroll-title{
  padding: 10px;
  font-size: 38px;
}
.enroll-section .enroll-sub-title{
  padding: 10px;
  font-size: 16px;
}
.enroll-form textarea:focus,
.enroll-form input[type=text]:focus,
.enroll-form input[type=email]:focus,
.enroll-form input[type=tel]:focus
{
  border-bottom: 1px solid #fff;
  border-radius: unset;
  background-color: unset;
  color: #fff;
}
.search-form input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 150px;
  outline: none;
  padding: 0px 0px 0px 0px;
  border-radius: unset;
}
/*=====================================
====Admission enquiry home css end ====
=======================================*/

/*=====================================
=============EMWS Facts css ===========
=======================================*/
.section-emws-facts .ecol-sub-title{
    color: #fff;
  }
  .section-emws-facts .emws-box {
    margin-bottom: 40px;
    text-align: center;
  }
  .section-emws-facts .progress-bar {
    color: #fff0 !important;
  }
.section-emws-facts .ecol-progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  overflow: visible!important;
}
.section-emws-facts .ecol-progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
 /* border: 2px solid #fff;*/
  position: absolute;
  top: 0;
  left: 0;
}
.section-emws-facts .ecol-progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.section-emws-facts .ecol-progress .progress-left{
  left: 0;
}
.section-emws-facts .ecol-progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.section-emws-facts .ecol-progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.section-emws-facts .ecol-progress .progress-right{
  right: 0;
}
.section-emws-facts .ecol-progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.section-emws-facts .ecol-progress .progress-value{
  width: 85%;
  height: 85%;
  border-radius: 50%;
 /* border: 2px solid #ebebeb;*/
  font-size: 32px;
  line-height: 125px;
  text-align: center;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}

.section-emws-facts .ecol-progress.yellow .progress-bar{
  border-color: #ffcc28;
}
.section-emws-facts .ecol-progress.yellow .progress-value{
  color: #ffcc28;
}
.section-emws-facts .ecol-progress.yellow .progress-left .progress-bar{
  animation: loading-3 1s linear forwards 1.8s;
}



.section-emws-facts .ecol_factc_span
{
  position: absolute;
  left: -37px;
  /*background: #fff;*/
  font-size: 20px;
  line-height: normal;
  border: unset;
  padding: 11px;
  top: 25px;
  z-index: 999;
  font-weight: 600;
}

.section-emws-facts .emws-box h4.ecol-title {
  margin-top: 10px;
  font-size: 19px;
  font-weight: 600;
  margin-left: 33px;
}



@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
/*=====================================
=============EMWS Facts css end ===========
=======================================*/

/*===== testimonisl panel ===== */

.parallax11 {
  background-image: url("../img/Admissions Enquiry Banner image.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.parallax12 {
  background-image: url("../img/Testimonial Banner image w Black Outline.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}

.parallax13 {
  background-image: url("../img/emws-parallax-image.jpeg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}
.parallax11 .text-muted, .parallax12 .text-muted {
  color: #fff!important;
}


.ecol-section .yellow-btn{
  background-color: #ffcc28;
  border: #ffcc28;
  color: #fff;
  border-radius: 1em;
  padding: 12px;
  width: 100%;
}
.ecol-section .yellow-btn-no-radius{
  background-color: #ffcc28;
  border: #ffcc28;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  text-align: center;
}

footer .contact-info{
  font-size: 83%;
  line-height: 25px;
  margin-bottom: 12px;
  text-transform: none;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
  .news-section .col-sm-3{
    padding: 10px;
  }
  .enroll-section .col-sm-6{
    padding: 10px;
  }
}



/*--==== ecole testimonail css start=====----*/
  .ecol-home-testimonial .owl-carousel.owl-drag .ecol-testimonial-item{
    background: #fff;
    padding: 20px 20px;
    margin-top: 1%;
  }
  .ecol-home-testimonial .owl-carousel h4.testimonail-title{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0px;
    color: #000;
  }
  .ecol-home-testimonial .owl-carousel p.testimonail-desc{
    color: #000;
  }
  .ecol-home-testimonial p.quote.quote-right i.fa{
   float: right;
  }
  .ecol-home-testimonial p.quote i.fa{
    font-size: 23px;
    color: #ffcc28;
  }
  .ecol-home-testimonial p.quote.quote-right {
    margin-bottom: 38px;
  }
  .ecol-home-testimonial .owl-nav {
    margin-top: -26px;
    top: 50%;
    color: #cdcbcd;
  }

  .ecol-home-testimonial .owl-nav .owl-prev {
    left: -12px;
  }
  .ecol-home-testimonial .owl-nav .owl-next {
    right: -18px;
  }
/*--==== ecole testimonail css end=====----*/



@media only screen and (min-width: 992px) {
  section.margin-bottom {
    margin-bottom: 40px;
  }

  .ecol-section.ecol-margin-top{
    margin-top: 45px;
  }

  .ecol-margin-top{
    margin-top: 56px;
  }

  .ecol-section .ecol-section-title {
    font-size: 32px;
    font-weight: 600;
    color: #11317B;
    margin:26px 28px 44px 44px;
    position: relative;
  }
  .ecol-section .ecol-section-title span {
    color: #ffcc28;
  }

  .ecol-search-box
  {
    position: absolute;
    top: 31px;
    right: -10px;
    width: 200px;
    padding: 10px 8px;
    z-index: 999;
    display: none;
    background-color: #ffcc28;

  }
  .ecol-search-box input[type="search"]{
    margin-bottom: 0px;
  }

  .ecol-search-box .fa {
    position: absolute;
    top: -26px;
    right: 8px;
    color: #ffcc28;
    font-size: 35px;
  }
  .small--hide1{
    display: inline-block;
  }
  .small--hide{
    display: block;
  }
  .small--show{
    display: none;
  }
  .ecol-home-banner .owl-theme .owl-nav {
    margin-top: -100px;
  }
  /* ===========================================
  ============University logos start ===========
  ============================================*/


  .university-logos .owl-carousel .item {
   /* position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden; */
  }
  .university-logos .owl-nav {
    margin-top: -26px;
    top: 50%;
    color: #cdcbcd;
  }
  .university-logos .owl-nav i {
    font-size: 52px;
  }
  .university-logos .owl-nav .owl-prev,
  .ecol-home-banner .owl-nav .owl-prev,
  .ecol-best-selling .owl-nav .owl-prev,
  .ecol-home-testimonial .owl-nav .owl-prev
  {
    height: 48px;
    width: 48px;
    line-height: 48px;
    top: 50%;
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.56) !important;
    color: #fff !important;
    font-size: 25px;
    position: absolute;
    border: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 100% !important;
  }
  .university-logos .owl-nav .owl-next,
  .ecol-home-banner .owl-nav .owl-next,
  .ecol-best-selling .owl-nav .owl-next,
  .ecol-home-testimonial .owl-nav .owl-next
  {

    height: 48px;
    width: 48px;
    line-height: 48px;
    top: 50%;
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.56) !important;
    color: #fff !important;
    font-size: 25px;
    position: absolute;
    border: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 100% !important;
  }
  .university-logos .carousel-control-next-icon, .university-logos .carousel-control-prev-icon,
  .ecol-home-banner .carousel-control-prev-icon, .ecol-home-banner .carousel-control-next-icon,
  .ecol-best-selling .carousel-control-prev-icon, .ecol-best-selling .carousel-control-next-icon,
  .ecol-home-testimonial .carousel-control-prev-icon, .ecol-home-testimonial .carousel-control-next-icon
  {
    margin-top: 8px;
    margin-left: -3px;
  }
  .university-logos .owl-carousel .owl-item img{
    width: unset !important;
  }

  .university-logos .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }
  .university-logos .owl-nav .owl-prev{
    left: -77px;
  }
  .university-logos .owl-nav .owl-next {
    right: -64px;
  }
  /* ===========================================
  ============University logos end ===========
  ============================================*/
  .ecol-home-banner .owl-nav .owl-prev,
  .ecol-best-selling .owl-nav .owl-prev,
  .ecol-home-testimonial .owl-nav .owl-prev
  {
    left: 10px;
  }
  .ecol-home-banner .owl-nav .owl-next,
  .ecol-best-selling .owl-nav .owl-next,
  .ecol-home-testimonial .owl-nav .owl-next
  {
    right: 10px;
  }
  /*.ecol-testimonial {
    padding: 30px;
  }*/
}


@media only screen and (max-width: 749px) {

  .ecol-section-academic h4.text-heading{
    padding: 10px 0px;
    font-size: 22px;
  }
  .ecol-fixed-social.email {
    top: 55%;
    right: -74px;
  }
  .ecol-fixed-social.loc {
    top: 61%;
    right: -76px;
  }
  .ecol-header .ecol-navbar li:hover .dropdown {
    max-height: 210px;
    position: absolute;
    overflow-y: scroll;
  }
  .logo img {
    height: 71px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .ecol-home-banner .owl-carousel .owl-item{
    height: 250px !important;
  }
  .ecol-home-banner .owl-carousel .owl-item img{
    height: 240px !important;
  }
  .ecol-home-banner .owl-carousel .item-video{
    height: 240px !important;
  }
  .clearfix{
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .ecol-section .ecol-section-title {
    font-size: 28px;
    font-weight: 600;
    color: #11317B;
    margin: 28px 28px 39px 39px;
    position: relative;
  }
  .ecol-section .ecol-section-title span {
    color: #ffcc28;
  }


  .section-emws-facts .emws-box {
    padding: 8px 0px;
  }
  .ecol-header .search-btn{
    margin-left: 59px;
    position: relative;
  }
  .ecol-header .ecol-search-box {
    position: absolute;
    top: 31px;
    left: 0px;
    width: 200px;
    padding: 10px 15px;
    z-index: 999;
    display: none;
    background-color: #ffcc28;
  }
  .ecol-search-box .fa {
    position: absolute;
    top: -26px;
    left: 0px;
    color: #ffcc28;
    font-size: 35px;
  }

  .small--hide, .small--hide1{
    display: none;
  }
  .small--show{
    display: block;
  }

  #testimonialsCarousel .testimonial-card .caption {
    background-color: #fff;
    padding: 34px;
    margin-top: -92px;
  }

  .contact-container .section-get-touch{
    margin-top: 56px;
  }
  .university-logos .owl-nav .owl-prev {
    left: -17px;
  }
  .university-logos .owl-nav .owl-next {
    right: -17px;
  }
  .owl-carousel .owl-stage-outer {
    /*margin-left: 53px;*/
  }
  .university-logos .owl-nav {
    margin-top: -60px;
  }
}


/*==== home  section ==== */

.ecol-section .ecol-section-title span{
  color: #ffcc28;
}
.ecol-section .ecol-section-title::before {
  position: absolute;
  left: 50%;
  content: "";
  width: 100px;
  height: 2px;
  background: #11317B;
  bottom: -18px;
  margin-left: -50px;
}
.ecol-section .ecol-section-title::after {
  position: absolute;
  left: 50%;
  content: "";
  width: 100px;
  height: 2px;
  background: #11317B;
  bottom: -23px;
  margin-left: -63px;
}
.ecol-section .ecol-sub-title{
  font-size: 17px;
  color: #000;
  margin-bottom: 35px;
}

.ecol-section .card-title{
  color: #11317B;
  font-size: 19px;
  height: 50px;
}
.ecol-section .card-text{
  font-size: 16px;
}
.ecol-section .btn{
  background-color: #fff;
  color: #11317b;
  border: 1px solid #11317b;
}



.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.enroll-section .btn:hover, .ecol-section .btn:hover {
  background-color: #ffcc28;
  color: #fff;
  border: 1px solid #ffcc28;
}
.ecol-section .card{
  position: unset;
}
.ecol-section .card-head {
  position: relative;
  overflow: hidden;
}
.ecol-section-program .card img:hover {
    transform: scale(1.2) rotate(5deg);
}
.ecol-section-program img {
  transition: all 0.4s ease;
}
.ecol-section-program .program-content-body{
  height: 164px;
}

/*========== Bulletin Board csss ============*/

.ecol-bulletin-board .card img:hover {
  transform: scale(1.2) rotate(5deg);
}
.ecol-bulletin-board img {
  transition: all 0.4s ease;
}
.ecol-bulletin-board .card:hover .card-head:before{
  opacity:0.5;
  visibility:visible;
}
.ecol-bulletin-board .card img{
  width:100%;
}
.ecol-bulletin-board .card:hover img{
  transform:scale(1.2) rotate(5deg);
}

.ecol-bulletin-board .card-head:before {
  z-index: 35;
  opacity: 0;
  visibility: hidden;
}
.ecol-bulletin-board .card-text{
  height: 87px;
}

.ecol-bulletin-board .date{
  position: absolute;
  bottom: 0;
  background: #ffcc28;
  padding: 0px 13px;
  width: 57px;
  visibility:hidden;
}

.ecol-bulletin-board .card-head .date h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 10px;
}
.ecol-bulletin-board .card-head .date h4 span {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  display: block;
}

.ecol-bulletin-board .card:hover .date {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}


/*========== Bulletin Board csss end ============*/
.slider-inner .btn {
  margin-right: 15px;
  color: #252525;
  background: #fff;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn.btn-primary{
  background-color: #ffcc28;
  color: #fff;
  border: 1ps solid #ffcc28;
}
.ecol-button-box .btn, a.btn, .admission-submit-btn{
  font-weight: 500;
  text-align: center;
  color: #252525;
  display: inline-block;
  padding: 13px 32px;
  border-radius: 10px !important;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  position: relative;
  background: #fff;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0.4S ease;
  -moz-transition: all 0.4S ease;
  transition: all 0.4S ease;

}


/*===== footer css ===*/

.footer-left .list-inline {
  text-align: left;
}
.footer-left .list-inline .list-inline-item a{
  color: #fff;
  font-size: 15px;
}
footer.footer {
  background: #183885;
  padding: 20px;
}
.footer ul li a, .footer .copyright {
  color: #fff;
  font-size: 13px;
}
.footer .quicklinks li a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer .fa, .contact .fa{
  color: #ffcc28;
  font-size: 18px;
}
.footer .list-inline-item{
  padding: 0px 11px;
}

/*===== footer css end===*/

/*=========================
      return to top
  ========================*/
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    width: 45px;
    height: 45px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 8s linear;
    -moz-transition: all 8s ease;
    -ms-transition: all 8s ease;
    -o-transition: all 8s ease;
    transition: all 8s ease;
    z-index: 9999;

  }
#return-to-top i {
  color: #183885;
  margin: 0;
  position: relative;
  left: 8px;
  top: 6px;
  font-size: 34px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #ffcc28;
}
#return-to-top:hover i {
  color: #fff;
}

/*=========================
      return to top end
  ========================*/
.btn-ecol {
  font-weight: 500;
  text-align: center;
  color: #000;
  display: inline-block;
  padding: 13px ;
  border-radius: 1em !important;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  position: relative;
  background: #fff;
  border:solid 1px #11317b;
  box-shadow:none;
  -webkit-transition: all 0.4S ease;
  -moz-transition: all 0.4S ease;
  transition: all 0.4S ease;
}

.btn-ecol:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffcc28;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4S ease-in;
  -moz-transition: all 0.4S ease-in;
  transition: all 0.4S ease-out;
}

.btn-ecol:hover:before{
  background-color: #ffcc28;
  color: #fff;
  border: 1px solid #ffcc28;
  -webkit-transform: scale(2);
  transform: scale(2);
}



/*================================
 contact and admission inquiry form
==================================*/
 .contact-container, .schedule-container, .admission-container{
    margin-top: 52px;
  }
  .contact-container h2.contact-heading, .ecol-section h2.heading, {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .contact-container h3.contact-subheading, .ecol-section h3.subheading {
    font-size: 18px;
  }
  .contact-container .contact-info {
    padding: 20px 20px;
    margin-top: 43px;
  }
  .contact-container .contact-info .title {
    font-size: 18px;
    font-weight: 200;
  }

  .contact-container .contact a.fa-icon {
    padding: 0px 4px;
  }
  .contact-mail a:hover, .contact-phone a:hover {
    color: #11317b;
  }
/*================================
 contact and admission inquiry form end
==================================*/

/*================================
section breadcrumbs start for images gallary
==================================*/

section.breadcrumbs-gallary.overlay {
  background: url(../img/breadcrumbs-banner.jpg);
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 80px 0;
}
.breadcrumbs-gallary.overlay::before {
  opacity: 0.6;
  background: #252525;
}
.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  content: "";
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.breadcrumbs-gallary .col-12{
  top: 31px;
}
.breadcrumbs-gallary h2 {
  color: #ffcc28;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}
.breadcrumbs-gallary h2 span{
  color: #fff;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.breadcrumbs-gallary .bread-list {
  border-radius: 3px;
  background: transparent;
  display: inline-block;
  margin-left: 0px;
}
.breadcrumbs-gallary ul li {
  display: inline-block;
  position: relative;
}
.breadcrumbs-gallary ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.breadcrumbs-gallary ul li i {
  margin: 0px 7px;
}
.breadcrumbs-gallary ul li.active a {
  border-radius: 5px;
  color: #fff;
}
.breadcrumbs-gallary ul li.active a{
  color: #ffcc28;
  font-weight: 600;
}

/*================================
=======section breadcrumbs end for gallary=====
==================================*/


/*================================
section breadcrumbs start
==================================*/
/*background: url(../img/breadcrumbs-img/breadcrumbs-banner.jpg);*/
section.ecole-breadcrumbs {
  position: relative;
  text-align: left;
  padding: 80px 0;
}

section.ecol-about-us-breadcrumbs{
  background: url(../img/breadcrumbs-img/About-Us-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.ecol-academic-breadcrumbs{
  background: url(../img/breadcrumbs-img/Academics-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.ecol-admission-breadcrumbs{
  background: url(../img/breadcrumbs-img/Admissions-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.ecol-board-breadcrumbs{
  background: url(../img/breadcrumbs-img/Bulletin-Board-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.ecol-campus-life-breadcrumbs{
  background: url(../img/breadcrumbs-img/Campus-Life-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.ecol-career-breadcrumbs{
  background: url(../img/breadcrumbs-img/Careers-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.ecol-contant-breadcrumbs{
  background: url(../img/breadcrumbs-img/contant-us-banner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


section.ecol-common-banner-breadcrumbs{
  background: url(../img/breadcrumbs-img/breadcrumbs-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.ecole-breadcrumbs.overlay::before {
  opacity: 0.6;
  background: #252525;
}
.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  content: "";
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.ecole-breadcrumbs .col-12{
  top: 31px;
}

.ecole-breadcrumbs h1 span{
  color: #fff;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.ecole-breadcrumbs .bread-list {
  border-radius: 3px;
  background: transparent;
  display: inline-block;
  margin-left: 0px;
}
.ecole-breadcrumbs ul li {
  display: inline-block;
  position: relative;
}
.ecole-breadcrumbs ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.ecole-breadcrumbs ul li i {
  margin: 0px 7px;
}
.ecole-breadcrumbs ul li.active a {
  border-radius: 5px;
  color: #fff;
}
.ecole-breadcrumbs ul li.active a{
  color: #ffcc28;
  font-weight: 600;
}

/*================================
=======section breadcrumbs end=====
==================================*/

/*================================
======Apply for admission start====
==================================*/


/*================================
======Apply for admission end====
==================================*/

/*================================
======  Contact Us Front page  ====
==================================*/

 .ecol-section .ecol-box-info {
    margin-bottom: 20px;
    padding: 6px;
  }
  .ecol-section .ecol-box-info .ecol-title{
    font-size: 23px;
    color: #11317B;
    font-weight: 600;
  }

  .ecol-section .leavemsginqry .contact-subheading::before{
    left: 4% !important;
  }
  .ecol-section .leavemsginqry .contact-subheading::after {
    left: 2%;
  }

.ecol-section .contact-phone p, .ecol-section .contact-mail p{
  line-height: 1.8;
}

.ecol-section .contactuspage{
  padding-top: 15px;
}
.ecol-section .contactuspage h5.text-uppercase{
  color:#183885;
}

.ecol-section .contactpage a{
  padding: 6px;
}
.ecol-section .contactpage i.fa{
  color:#183885;
  font-size: 20px;
}

/*==================================
======  Contact Us Front page  End==
==================================*/


/*================================
== Mission, Vision & Aim  start ==
==================================*/



/*===================================
======  Mission, Vision & Aim   End==
==================================*/


/*===================================
====== blog search bar css start ==
==================================*/
 #filtericon{
    position: relative;
    z-index: 1;
    left: -25px;
    top: -42px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    float: right;
  }



  .ecol-blog-right-side .blog-sidebar-search1, .admission-form-section .admission-line1, .ecol-section .blue-line1 {
      border: 1px solid #11317B;
      clear: both;
      height: 0;
      width: 100px;
      margin-left: 8px;
      margin-top: 5px;
      margin-bottom: 2px;
  }
  .ecol-blog-right-side .blog-sidebar-search2, .admission-form-section .admission-line2, .ecol-section .blue-line2 {
      border: 1px solid #11317B;
      clear: both;
      height: 0;
      margin: 0.25rem 0px 1.1875rem;
      width: 100px;
  }
  /*====== blue line for contact page ======== */
  .blue-line-first{
    margin-bottom: 25px;
  }
  .blue-line-first::before {
    position: absolute;
    left: 5%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 42px;
  }

  .blue-line-first::after {
    position: absolute;
    left: 2%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 48px;
    margin-bottom: 20px;
  }

  /*====== blue line for contact page ======== */

  /*====== blue line for Admission ======== */
  .admission-blue-line{
    margin-bottom: 25px;
  }

  h3.admission-blue-line::before {
    position: absolute;
    left: 2%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 39px;
  }
  h3.admission-blue-line::after {
    position: absolute;
    left: 1%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 45px;
  }
  /*====== blue line for Admission ======== */

  /*====== blue line for bulletin board start ======== */
  .ecol-blog-right-side h4.search-title{
    margin-top: 5px;
    color: #11317B;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0px;
  }

  .ecol-blog-right-side h4.search-title::before {
    position: absolute;
    left: 8%;
    content: "";
    width: 100px;
    height: 2px;
    background: #11317B;
    top: 35px;
  }
  .ecol-blog-right-side h4.search-title::after {
    position: absolute;
    left: 5%;
    content: "";
    width: 100px;
    height: 2px;
    background: #11317B;
    top: 43px;
    margin-bottom: 20px;
  }
  /*====== blue line for bulletin board End ======== */

  /*=========blog leave comments ============*/
  h3.blog-leave-comment-title{
    margin-top: 20px;
    color: #11317b;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0px;
  }
  h3.blog-leave-comment-title::before {
    position: absolute;
    left: 3%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 49px;
  }
  h3.blog-leave-comment-title::after {
    position: absolute;
    left: 2%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 55px;
  }
  /*=========blog leave comments ============*/

/*========= blue line css only for mobile ============*/
@media only screen and (max-width: 600px) {
  /*====== blue line for contact page ======== */
  .blue-line-first{
    margin-bottom: 25px;
  }
  .blue-line-first::before {
    position: absolute;
    left: 7%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 42px;
  }

  .blue-line-first::after {
    position: absolute;
    left: 4%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 48px;
    margin-bottom: 20px;
  }

  /*====== blue line for contact page ======== */

  /*====== blue line for Admission ======== */
  .ecol-section .event-title {
    font-size: 23px;
    color: #11317B;
    font-weight: 600;
    margin-bottom: 33px;
  }

  .admission-blue-line{
    margin-bottom: 25px;
  }

  h3.admission-blue-line::before {
    position: absolute;
    left: 8%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 37px;
  }
  h3.admission-blue-line::after {
    position: absolute;
    left: 5%;
    content: "";
    width: 124px;
    height: 2px;
    background: #11317B;
    top: 45px;
  }
  /*====== blue line for Admission ======== */

  /*====== blue line for bulletin board start ======== */
  .ecol-blog-right-side h4.search-title{
    margin-top: 5px;
    color: #11317B;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0px;
  }

  .ecol-blog-right-side h4.search-title::before {
    position: absolute;
    left: 8%;
    content: "";
    width: 100px;
    height: 2px;
    background: #11317B;
    top: 31px;
  }
  .ecol-blog-right-side h4.search-title::after {
    position: absolute;
    left: 5%;
    content: "";
    width: 100px;
    height: 2px;
    background: #11317B;
    top: 38px;
    margin-bottom: 20px;
  }
  /*====== blue line for bulletin board End ======== */

  h3.extra-top.admission-blue-line::before{
    top: 105px !important;
  }
  h3.extra-top.admission-blue-line::after{
    top: 115px !important;
  }
}
/*========= blue line css only for mobile ============*/

/*---====EDGE browser css =====---*/
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .ecol-section-academic .academic-card-list img{
      max-height: 250px;

    }


  }
/*---====EDGE browser css =====---*/




  .ecol-blog-right-side .ecol-blogs-tags ul.tags, .ecol-board .ecol-blogs-categories ul.blog-category,.ecol-blogs-recent-post ul.recent-posts-ul {
    margin-left: 0px !important;
  }

  .ecol-board .ecol-blogs-categories ul.blog-category li{
    font-size: 20px;
  }

  .ecol-board .ecol-blogs-categories ul.blog-category li.active a{
    color: #11307b;
    font-size: 18px;
  }

  .ecol-blog-right-side .ecol-blogs-recent-post ul.recent-posts-ul li {
    padding: 12px 0px;
  }

  .ecol-blog-right-side .ecol-blogs-recent-post h5.recent-blog-title{
    color: #11317B;
    font-size: 17px;
    font-weight: 600;
    word-wrap: break-word;
  }

  .ecol-blog-right-side .ecol-blogs-tags ul.tags li {
    text-decoration: none;
    display: inline-block;
    background-color: lightgray;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0px 4px;
    float: left;
    list-style: none;
  }
  .ecol-blog-right-side .ecol-blogs-tags ul.tags li a{
    font-size: 14px;
  }

/*===================================
====== blog search bar css end ==
==================================*/


/*===================================
====== Apply for vacency css start===
==================================*/

/*===== Clear all information modal pop up css start ===== */
.clear-information-popup .modal-content{
      background-color: #11317B !important;
  }

  .clear-information-popup .modal-body .close{
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fff;
  }
  .clear-information-popup .modal-header{
    border-bottom: unset !important;
  }
  .modal-body{
    color: #fff;
  }
  .clear-information-popup .confirm-btn{
    padding: 5px 17px;
    color: #11317B;
    background: #fff;
    border-radius: 3px;
  }
/*===== Clear all information modal pop up css end ===== */

  .section-emws-facts .ecol-sub-title{
    margin-top: 48px;
    color: #fff;
    display: inline-block;
    word-break: break-word;
  }

/*===== ecol best selling home page slider start===== */
  .ecol-best-selling .owl-carousel .item {
    padding: 59px 0px;
  }
  .ecol-selling-content-box {
    margin-bottom: 43px;
  }
  .ecol-best-selling .ecol-best-selling-title{
    color: #11317B;
    font-size: 26px;
    font-weight: 600;
    margin-left:15px;
  }
  .ecol-best-selling .ecol-best-selling-content{
    font-size: 18px;
    text-align: justify;
    margin-top: 17px;
    padding: 13px;
  }
  .ecol-best-selling .owl-prev{
    margin-left: -80px !important;
  }
  .ecol-best-selling .owl-next{
    margin-right: -71px !important;
  }
  .ecol-best-selling .owl-theme .owl-nav {
    margin-top: -32px;
  }
/*===== ecol best selling home page slider end===== */




/*===================================
====== Apply for vacency css end===
==================================*/


.ecol-header .ecol-navbar li a.js-scroll-trigger,
.ecol-header .ecol-navbar li span.mobiesubmenu
{
  display: inline-block;
}

.ecol-header .ecol-navbar li span.mobiesubmenu
{
  position: absolute;
    top: 9px;
    right: 4px;
}

.submenudropdown{
  transform: scale(1.0)!important;
  opacity: 1!important;
  visibility: visible!important;
}

@media only screen and (min-width: 750px){

  .logo img {
    height: 139px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  /*=== header sub menu show =====*/
  .ecol-header .ecol-navbar li:hover .dropdown {
    transform: scale(1.0);
    opacity: 1;
    visibility: visible;
  }
  /*=== header sub menu show =====*/

  .ecole-breadcrumbs h1 {
    color: #ffcc28;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;
  }
  .ecol-home-banner .ecol-banner-caption{
    position: absolute;
    right: 15%;
    bottom: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: justify;
  }
  .ecol-home-banner .ecol-slider-text p.banner-content {
    font-size: 21px;
    color: #fff;
  }

  .ecol-home-banner .ecol-slider-text h1.banner-title {
    font-size: 45px;
    font-weight: 600;
    color: #ffcc28;
  }

  .ecol-home-banner .ecol-button-box .banner-left-btn{
    font-size: 15px;
    background: #ffcc28;
  }

  .ecol-home-testimonial .owl-carousel.owl-drag .owl-item{
    padding: 66px;
  }
  .university-logos .carousel-wrap {
    margin-top: 24px;
   /* margin-bottom: -27px;*/
    padding: 0 8%;
  }

  .ecol-board .ecol-card-deck{
    padding: 10px 10px;
  }

}

/* ======mobile csss ===*/

@media only screen and (max-width: 749px){

  /*.ecol-header .ecol-navbar li:hover .dropdown {
    transform: scale(1.0);
    opacity: 1;
    visibility: visible;
  }*/
  .ecol-page-section{
    display: inline-block;
    word-break: break-word;
  }
  .ecol-page-section img, .ecol-page-section iframe{
    max-width: 100%
  }

  .section-academic-details .acedemic-desc img, .section-academic-details .acedemic-desc iframe{
    max-width: 100%;
  }

  .ecole-breadcrumbs h1 {
    color: #ffcc28;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
  }

  .ecol-section.ecol-margin-top{
    margin-top: 35px;
  }

  .ecol-home-banner .ecol-banner-caption {
    position: absolute;
    bottom: 7%;
    color: #fff;
    text-align: justify;
  }
  .ecol-home-banner .ecol-slider-text p.banner-content {
    font-size: 16px;
    color: #fff;
  }
  .ecol-home-banner .ecol-slider-text h1.banner-title {
    font-size: 30px;
    font-weight: 600;
    color: #ffcc28;
    text-align: -webkit-auto;
  }
  .ecol-home-banner .ecol-button-box .banner-left-btn {
    font-size: 12px;
    padding: 13px 13px !important;
    background: #ffcc28;

  }

  .ecol-home-banner .ecol-button-box .btn-ecol{
    font-size: 12px !important;
    padding: 13px 13px !important;
  }
  .ecol-section .ecol-home-card{
    margin-bottom: 20px;
  }

  .ecol-home-testimonial .owl-nav {
    display: none;
  }
  .ecol-home-testimonial .owl-carousel.owl-drag .owl-item{
    padding: 25px;
  }
  /*============= university logos css start===============*/
  .ecol-home-banner .owl-nav {
    display: none;
  }

  .university-logos .owl-nav {
    display: none;
  }
  .university-logos .carousel-wrap {
    margin-top: 38px;
  }
  /*============= university logos css end===============*/
}
