

body {
  font-family: 'Asap', sans-serif !important;
  background-color: white;
}
a:hover {
  text-decoration: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}

p:hover {
  color: yellow;
}

td {
  padding-left: 10px;
}
